<h1>Add to task$client.getName()</h1>

<form action="/clients" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text">

  <label for="details">Details</label>
  <input id="details" name="details" type="text">


  <button type="submit" class="btn btn-success">Add Task</button>
</form>
