<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" href="../../../../../app.css" type="text/css">
  <title>Nitrik Hair Saloon</title>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <img id="icon" class="navbar-brand" src="../../../../../images/images.png" alt="image of icon">
      <div class="pull-left">
        <h3>Nitrik Hair Saloon</h3>
      </div>
      <div class="pull-right">
        <div class="form-group">
          <div class="row">
            <form action="/search" method="post">
              <div class="col-xs-3">
                <select name="type" class="form-control">
                    <option value="Ranger">Stylist</option>
                    <option value="Animal">Client</option>
                  </select>
              </div>
              <div class="col-xs-3">
                <input type="text" name="name" placeholder="name" class="form-control">
              </div>
              <div class="col-xs-3">
                <button type="submit" class="btn btn-success">Search</button>
              </div>
              <div class="col-xs-3">
                <a href="/login">Manager Login</a>
                <p><a href="/">Home Page</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="main">
    #parse( $template )
  </div>
</body>

<footer id="footer" class="clearfix">
  <div id="footer-widgets">

    <div class="container">

      <div id="footer-wrapper">

        <div class="row">
          <div class="col-sm-6 col-md-2">
            <div id="meta-3" class="widget widgetFooter widget_meta">
              <h4 class="widgettitle">Important Page :</h4>
              <ul>
                <li><a href="/"><i class="fa fa-home fa-fw"></i> Home</a></li>
                <li><a href="/about"><i class="fa fa-link"></i>About</a></li>
                <li><a href="/contact"><i class="fa fa-envelope fa-fw"></i> Contact</a></li>
              </ul>
            </div>
          </div>
          <!-- end widget1 -->

          <div class="col-sm-6 col-md-2">
            <div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">
              <h4 class="widgettitle">Our social media :</h4>
              <ul>
                <li>
                  <a href="https://m.facebook.com/?stype=lo&jlou=Afe9xLt56uPi5IBDXfII7NHcGfjRG258jXtAEvSDClna5cupyMteSEa2C4SWs4bv_cScZJ-c1CN8p4AffnnPexGcgNtWghKhA-gLIs1goqxiyg&smuh=24502&lh=Ac-YVwHgQoNocDWO&_rdr" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
                </li>
                <li>
                  <a href="https://twitter.com/download?logged_out=1&lang=en" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
                </li>
                <li>
                  <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i>Instagram</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- end widget1 -->

          <div class="col-sm-6 col-md-4">
            <div id="meta-4" class="widget widgetFooter widget_meta">
              <h4 class="widgettitle">Subscribe :</h4>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">E-mail :</span>
                  <input class="form-control" placeholder="Write your email .." type="text">
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">Phone  :</span>
                  <input class="form-control" placeholder="place your number" type="text">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Subscribe !</button>
                  </span>
                </div>
              </div>


            </div>
          </div>
          <!-- end widget1 -->

          <div class="col-sm-6 col-md-4">
            <div id="search-3" class="widget widgetFooter widget_search">
              <h4 class="widgettitle">Search :</h4>

              <div class="form-group">
                <label class="control-label">Write what you want to search for it  :</label>
                <div class="input-group">
                  <span class="input-group-addon">Keyword :</span>
                  <input class="form-control" placeholder="Keyword for search ..." type="text">
                  <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Search !</button>
                                  </span>
                </div>
              </div>

            </div>
          </div>
          <!-- end widget1 -->

        </div>
        <!-- end .row -->

      </div>
      <!-- end #footer-wrapper -->

    </div>
    <!-- end .container -->
  </div>
  <!-- end #footer-widgets -->

  <div id="sub-floor">
    <div class="container">
      <div class="row">
        <div class="col-md-4 copyright">
          Nitrik&#xA9; 2017
        </div>
      </div>
      <!-- end .row -->
    </div>
  </div>

</footer>


</html>
